.divImg{
    display:flex;
    border:2px rgba(139, 128, 128, 0.466);
    border-style: dotted;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    align-self: center;
    justify-content: center;
}

.cont{
    
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
}
.container{
    justify-Content: center;
    align-Items:center;
    display:flex;
    margin-Top:50px;
}
.divForm{
    width:110%;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 20px;
}
.divsInputs{
    margin-Top:15px;
}
.spans{
    color:#201414
}
.spanImagen{
    color:#201414;
    margin-left: 5%;

}
.boton{
    background-Color:#f0ddd8;
    color:#201414;
    font-Size:16px;
    font-Weight:600;
    padding: 10px 20px 10px 20px;
    border-style: none;
}
.boton:hover{
    cursor: pointer;
    background-Color:#CF988C;
}
.aceptar{
    margin-top: 20px;
    margin-bottom: 10px;
}
.description{
    width:60%;
    
}
.insertImg{
    display: none;
    
}
.imgLabel{
    font-weight: 600;
    color: text;
    text-transform: uppercase;
    padding: 10px 20px;
}

.conEspacio{
    display: none;
}
.lleno{
    display: block;
    color: red;
}