.ctnCardC {
    display: flex;
    border: #738351 double 0.3rem;
    flex-direction: column;
    height: 23rem;
    width: 30%;
    border-radius: 10px;
    margin-block: 1rem;
    
   

}

.ctnCardC:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: rgb(212, 195, 138) 10px 10px 10px 0;
    z-index: 0;
    background-color: khaki;
}

.ctnCardC a {
    width: 100%;
    height: 100%;
}

.headerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.headerCard img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.ctnCardC button {
    width: 100%;
    border-radius: 0 0 10px 10px;
}
