.ctnCardC {
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 30%;
    border-radius: 10px;
    margin-block: 1rem;
}

.ctnCardC:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: rgb(234, 173, 180) 10px 10px 10px 0;
}

.headerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.headerCard img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.btnCard {
    height: 10%;
    display: flex;
    justify-content: center;
    background-color: rgb(233, 185, 185);
    border-radius: 0 0 10px 10px;
}

.btnCard:hover {
    background-color: white;
}

.btnCard:hover button {
    background-color: white;
    color: rgb(233, 185, 185);
}