.ctnCardC {
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 25rem;
    border-radius: 10px;
    margin-block: 1rem;
    opacity: 0.85;
}

.ctnCardC:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: rgb(212, 195, 138) 10px 10px 10px 0;
    z-index: 0;
    background-color: khaki;
    opacity: 1;
}

.ctnCardC a {
    width: 100%;
    height: 100%;
}

.headerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.headerCard img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.ctnCardC button {
    width: 100%;
    border-radius: 0 0 10px 10px;
}

@media (max-width:452px) {
    .ctnCardC {
        height: 12rem;
        width: 40%;
        border: #f0ddd8 1px solid;
        border-radius: 0;
    }
    .headerCard {
        height: 70%;
    }
    .ctnCardC button {
        height: 30%;
        border-radius: 0;
    }
}