.hidden{
    display: none;
    display: flex;
    flex-direction: column;
}

.spans{
    margin-left: 10px;
}
.orderContainer{
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    margin: 2rem;
    width:35%;
    padding: 5px;
    font-weight: 600;
}
.containerDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}