.containerDiv{
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 90%;
	border-style: solid;
	padding: 10px 20px;	
  overflow-y: scroll;
}

.user-data{
	background-color: #f0ddd8;
	height: 50px;
	transition: ease-in-out 300ms;
}

.user-data:hover{
	cursor: pointer;
	transform: scale(1.01);
}