.App {
    text-align: center;
}

.link-without-styles {
    text-decoration: inherit;
    color: inherit;
}

.app-content {
    min-height: calc(100vh - 130px - 200px);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.botonEliminarImagenCategoria:hover {
    cursor: pointer;
}