.editPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.editPassword button {
    border: #CF988C 1px solid;
    margin-top: 20px;
    animation: buttonEdit 2s infinite;
}

@keyframes buttonEdit {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}