.containner{
    display: flex;
}
.categories{
    justify-content: center;
    background-color: #f0ddd8;
    margin-left: 5rem;
}
.formulario{
    justify-content: flex-start;
}

@media (max-width: 452px){
    .containner{
        display: flex;
        flex-direction: column;
    }
    .categories{
        justify-content: center;
        margin-top: 5rem;
        margin-left: 0;
        background-color: #f0ddd8;
    }
    .formulario{
        justify-content: center;
    }
}
