.ctnFiltersCat {
    background-color: #f1eee3;
    display: flex;
    flex-direction: column;
    min-width: 190px;
    align-items: center;
    position: relative;
    height: 100%;
}

.ctnFiltersCat p {
    color: rgb(81, 73, 73);
    margin: 0;
    width: 100%;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
}

.ctnFiltersCat input {
    margin-top: 5%;
    max-width: 4rem;
    outline: none;
}

.ctnFiltersCat h1 {
    font-size: 23px;
}

.ctnFiltersCat h3 {
    margin-bottom: 0;
}

.ctnFiltersCat h5 {
    margin-top: 1rem;
    margin-bottom: 7px;
    width: 90%;
    border-bottom: #f0ddd8 3px solid;
}

.ctnFiltersCat div {
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.stars {
    display: flex;
    flex-direction: column;
    margin-block: 6px;
}

.ctnFiltersCat .undo {
    position: absolute;
    right: -100px;
    z-index: 99;
    animation: animationslide 1s;
}

@keyframes animationslide {
    0% {
        left: -110%;
    }
    90% {
        left: 120%;
    }
}

@media (max-width: 452px) {
    .ctnFiltersCat {
        display: none;
        height: 100%;
        min-height: 500px;
        z-index: 1000;
        position: absolute;
        transform: translate(-25px, -90px);
        animation: filterSlide 0.8s;
    }
    @keyframes filterSlide {
        0% {
            left: -100px;
            width: 0;
        }
        100% {
            left: 20px;
        }
    }
    .ctnFiltersCat .undo {
        left: 0;
        transform: translate(-45px, 500px);
    }
    @keyframes animationslide {
        0% {
            left: -110%;
        }
        90% {}
    }
}