.user-orders-container{
  border: 3px solid black;
  background-color: white;
  margin: 2% 0;
  padding: 2%;
  display: flex;
  justify-content: center;
}

.user-orders-table{
  width: 100%;
  padding: 2% 0;
}

.user-orders-tablerows{
  background-color: #f0ddd8;
  height: 50px;
}

.user-order-link{
  text-decoration: none;
  color: black;
  border: 0.5px solid black;
  padding: 2%;
}

.user-order-link:hover{
  background-color: #e6c7b7;
}