.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding: 10px 10px;
    font-weight: bold;
    background-color: #CF988C;
    height: 100%;
}
 @media(max-width: 452px){
    .container{
        flex-wrap: wrap;
        align-items:center;
        padding: 10px 10px;
        font-weight: bold;
        background-color: #CF988C;
    }
}