
.stats-container{
  width: 98%;
  height: 98%;
}

.stats-sales-btn{
  margin-top: 1%;
  display: flex;
  justify-content: space-evenly;
}

.sales-btn{
  border: none;
  background-color: #f0ddd8;
  padding: 1.1%;
  transition: 0.2s;
}

.sales-btn:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.stats-chart-container{
  background-color: white;
  margin: 2% auto 0;
  width: 95%;
  height: 85%;
  border: 3px solid black;
}