.botonCart{
    border-style: none;
    color: black;
    padding: 10px;
    font-size: 105%;

}
.botonCart:hover {
        cursor: pointer;
        background-color: #f4dcd8;
        color: black;
        font-size: 18px
    }
