.reviews-big-container{
  background-color: #f0ddd8;
  width: 65%;
  margin: 2% auto;
}

.reviews-big-container-title{
  text-align: center;
  font-size: 1.8rem;
  margin: 2% 0;
}

.review-container{
  background-color: #f1eee3;
  margin: 3%;
  padding: 2%;
  border: 3px solid black;
}

.review-container-title{
  font-size: 1.5rem;
  text-align: center;
}

.review-container-flex{
  display: flex;
  justify-content: center;
}

.review-container-img{
  width: 35%;
  margin-right: 1.5%;
}

.review-form{
  width: 60%;
  padding: 2%;
}

.review-stars-container{
  margin-bottom: 5%;
}

.review-form-title{
  font-size: 1.1rem;
  text-align: left;
  margin: 0 0 3% 0;
}

.review-description{
  border: 0.5px solid black;
  padding: 1.2%;
}

.send-review-btn{
  margin-top: 3%;
  margin-right: 2%;
  color: black;
  font-size: 1rem;
  border: none;
  padding: 2%;
  transition: transform .5s;
  background-color: #f0ddd8;
}

.send-review-btn:hover{
  background-color: #CF988C;
  cursor: pointer;
  transform: scale(1.1);
}