.divImg{
    display:flex;
    border:2px rgba(241, 37, 37, 0.466);
    border-style: dotted;
    width: 200px;
    height: 100px;
    margin-top: 20px;
    align-self: center;
    justify-content: center;
}
.cont{
    
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
}
.container{
    height:100%;
    justify-Content: center;
    align-Items:center;
    display:flex;
    margin-Top:50px;
    
}
.divForm{
    width:110%;

box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
border-radius: 20px;
border: 2px double rgba(228, 167, 243, 0.931);
}
.divsInputs{
    margin-Top:15px
}
.spans{
    color:#201414
}
.boton{
    background-Color:transparent;
    color:#201414;
    font-Size:16px;
    font-Weight:600;
    padding:5px 10px;
    border:1px double #F589DF;
    border-Radius:10px
}
.boton:hover{
    background-color: pink;
}
.aceptar{
    margin-top: 20px;
    margin-bottom: 10px;
}
.description{
    width:60%;
    
}
.insertImg{
    color:transparent;
}



