.user-order-detail-container{
  border: 3px solid black;
  background-color: #f1eee3;
  width: 70%;
  height: 90%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.user-order-detail-products{
  width: 80%;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
}

.user-order-detail-products-table{
  width: 100%;
}

.user-order-detail-products-rows{
  background-color: #f0ddd8;
  height: 40px;
}

.user-order-detail-data{
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.user-order-detail-data-order, .user-order-detail-data-user{
  border: 0.5px solid black;
  padding: 2%;
}

.user-order-detail-products-link{
  text-decoration: none;
  border: 0.5px solid black;
  color: black;
  padding: 1.2%;
}

.user-order-detail-products-link:hover{
  background-color: #e6c7b7;
}

@media only screen and (max-width: 425px) {
  .user-order-detail-container{
    width: 90%;
    margin-top: 20%;
  }

  .user-order-detail-products{
    overflow-x: auto;
  }

  .user-order-detail-products-table{
    margin-left: 70%;
  }

  .user-order-detail-products-rows {
    height: 80px;
  }

  .user-order-detail-products-link{
    white-space: nowrap;
  }

  .user-order-detail-data {
    flex-direction: column;
    width: 80%;
  }

  .user-order-detail-data-order {
    margin-bottom: 3%;
  }

}