.searchBar {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    position: relative;
}

#searchBar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.searchInput {
    border: none;
    padding: 10px;
    border-bottom: black 1px solid;
    width: 45%;
    background: transparent;
    font-size: 20px;
    margin-right: 10px;
}

.searchInput:focus{
    outline: none;
}

.searchBtn {
    background: transparent;
    border: none;
    font-size: 30px;
}

.searchBtn:hover {
    cursor: pointer;
}