    .ctnNav {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav {
        height: 80px;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px 0 30px;
        border-radius: 3rem;
    }
    
    #logo {
        width: 20%;
    }
    
    #logo img {
        padding-left: 3px;
        border-radius: 3rem 0 0 3rem;
    }
    
    .nav a {
        height: 100%;
        display: flex;
    }
    
    .contact {
        width: 10%;
        height: 50%;
        display: flex;
    }
    
    .contact a {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    
    .userIcon:hover .userOptions {
        display: block;
        position: absolute;
    }
    
    .userOptions {
        display: none;
        position: absolute;
        background-color: #f1eee3;
        width: 150px;
        cursor: pointer;
        right: 5px;
        padding-block: 10px;
    }
    
    .userOptions p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin: 0;
    }
    
    .userOptions p:hover {
        background-color: #f0ddd8;
    }