.divPrincipal{
  justify-Content: center;
  align-items: center;
  display: flex;
  border: rgb(177, 164, 164);
  border-width: 2px;
  border-style: solid;
  border-radius: 2rem;
  padding: 10px;
  background-color: #f1eee3;
}