.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}
.adminPanel{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
}
.windowDiv{
    display: flex;
    justify-content: center;
    flex-grow: 8;
    align-items: center;
}

@media (max-width: 452px){
    .mainDiv{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .adminPanel{
        display: flex;
        flex-direction: column;
        width: 93%;
        height: 100%;
        padding: 15px;
    }
    .windowDiv{
        display: flex;
        justify-content: center;
        flex-grow: 8;
        align-items: center;
    }
    .loggo{
        display: none;
        width: 0%;
    }
    .titulo{
      align-self: center;
    }
}