.searchBar {
    display: flex;
    height: 50%;
    width: 350px;
    justify-content: center;
    position: relative;
}

#searchBar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.searchInput:focus {
    outline: none;
}

@media (max-width: 768px) {
    #searchBar {
        width: 70%;
    }
    @media (max-width: 452px) {
        #searchBar {
            width: 90%;
        }
    }
}