.searchBar {
    display: flex;
    height: 50%;
    width: 350px;
    justify-content: center;
    position: relative;
}

#searchBar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.searchInput:focus {
    outline: none;
}

.searchBtn {
    background: transparent;
    border: none;
    font-size: 30px;
}

.searchBtn:hover {
    cursor: pointer;
}