.catalogue{
    width: 90%;
    display: flex;
    margin-top: 5rem;
}
.catalogueMap{
    width: 87%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}