.categoryDiv {
    width: 84%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}

.categoryDiv h1 {
    align-self: center;
    margin-left: 50px;
}