.algo {
    box-shadow: rgb(102, 102, 102);
    animation: transitionIn 600ms;
    transform:translate();
}


@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}