.divImg{
    display:flex;
    border:2px rgba(139, 128, 128, 0.466);
    border-style: dotted;
    width: 200px;
    height: 100px;
    margin-top: 20px;
    align-self: center;
    justify-content: center;
}
.cont{
    
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
}
.containerModify{
    text-align: center;
    flex-direction: column;
    height:100%;
    justify-Content: center;
    align-Items:center;
    display:flex;
    margin-Top:50px;
}
.divForm{
    width:110%;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 20px;
}
.divsInputs{
    margin-Top:15px
}
.spans{
    color:#201414
}
.spanImagen{
    color:#201414;
    margin-left: 5%;

}
.boton{
    background-Color:#f0ddd8;
    color:#201414;
    font-Size:16px;
    font-Weight:600;
    padding: 10px 20px 10px 20px;
    border-style: none;
}
.boton:hover{
    cursor: pointer;
    background-Color:#CF988C;
}
.aceptar{
    margin-top: 20px;
    margin-bottom: 10px;
}
.description{
    width:60%;
    
}
.insertImg{
    display: none;
    
}
.imgLabel{
    
        font-weight: 600;
        color: text;
        text-transform: uppercase;
        padding: 1.25em 2em;
        background: light-pink;
        border: 2px solid pink-border;
        border-radius: 0.75em;
        transform-style: preserve-3d;
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);}
.imgLabel:before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: dark-pink;
          border-radius: inherit;
          box-shadow: 0 0 0 2px pink-border, 0 0.625em 0 0 pink-shadow;
          transform: translate3d(0, 0.75em, -1em);
          transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
        }
        .imgLabel:hover {
          background: pink;
          transform: translate(0, 0.25em);
        }
         .imgLabel:hover:before {
            box-shadow: 0 0 0 2px pink-border, 0 0.5em 0 0 pink-shadow;
            transform: translate3d(0, 0.5em, -1em);
          }
        
        .imgLabel:active {
          background: pink;
          transform: translate(0em, 0.75em);
        }
          .imgLabel:active:before {
            box-shadow: 0 0 0 2px pink-border, 0 0 pink-shadow;
            transform: translate3d(0, 0, -1em);
        }
        
      




.conEspacio{
    display: none;
}
.lleno{
    display: block;
    color: red;
}