.restorePasswordModal {
    display: none;
    position: fixed;
    z-index: 2;
    top: 20%;
    left: 19%;
    width: 60%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.4);
}

.ctnRestoreP {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto 15% auto;
    border: 1px solid #888;
    padding-top: 40px;
    width: 50%;
    animation: animationRP 2s;
}

@media (max-height:700px) {
    .ctnRestoreP {
        top: -60px;
        animation: animationRP2 2s;
    }
    @keyframes animationRP2 {
        0% {
            top: -400%;
        }
        100% {
            top: -60px
        }
    }
}

.closeRestore {
    position: absolute;
    right: 25px;
    top: 10px;
    color: #000;
    font-size: 35px;
}

.closeRestore:hover {
    color: red;
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.5s;
}

.btnCancelRP {
    padding: 10px 18px;
    margin-top: 10px;
    background-color: #CF988C;
    border: none;
    width: 100%;
}

.btnCancelRP:hover {
    opacity: 0.8;
    cursor: pointer;
}

@keyframes animationRP {
    0% {
        top: -400%;
    }
    100% {
        top: 0
    }
}