.select-state-am {
    border-style: none;
    width: 220px;
    font-size: 15px;
    padding: 5px;
}

.input-styles {
    border-style: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    width: 210px;
}