.select-state-am {
    border-style: none;
    width: 220px;
    font-size: 15px;
    padding: 5px;
}

.input-styles {
    border-style: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    width: 210px;
}

.divDelModalDiv {
    text-align: left;
    display: flex;
    flex-direction: column
}

@media (max-width:452px) {
    .input-styles {
        width: 68%;
    }
    .select-state-am {
        width: 70%;
    }
    .divDelModalDiv {
        width: 90%;
    }
}