.ResEmailFooter {
    display: flex;
    margin-top: 5px;
    margin-left: 30px;
}

@media (max-width:452px) {
    .ResFooter {
        display: none;
    }
    .ResEmailFooter {
        display: none;
    }
}